[Desktop Entry]
Version=1.0
Name=Aceproxy Player
GenericName=Media player
Comment=Open AceStream links with VLC Media Player
Exec=/usr/bin/aceproxy-player %u
TryExec=/usr/bin/aceproxy-player
Icon=vlc
Terminal=false
Type=Application
Categories=AudioVideo;Player;Recorder;
MimeType=x-scheme-handler/acestream;
X-KDE-Protocols=acestream
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;
NoDisplay=True
