[Desktop Entry]
Version=1.0
Name=Aceproxy Player
GenericName=Media player
Comment=Open AceStream links with VLC Media Player
Exec=/usr/bin/aceproxy-player %u
TryExec=/usr/bin/aceproxy-player
Icon=vlc
Terminal=false
Type=Application
MimeType=x-scheme-handler/acestream;
X-KDE-Protocols=acestream
NoDisplay=true
